.header {
    height: 70px;
    background-color: #ff8000;
    color: #ffffff;
    padding-left: 20px;
}

.main-context {
    display: flex;
    margin: 20px;
}

.filters {
    width: 25%;
}

.shipping-options, .sort-by-options{
    display: flex;
    flex-direction: column;
}

.cuisines-list{
    list-style: none;
    padding-inline-start: 0px;
}

@media screen and (max-width: 480px) {
    .filters {
        display: none;
    }

    .apply-filters-btn{
        display: flex;
    }

    .mobile-filters{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        z-index: 1;
        width: 100%;
    }
}
.apply-filters-btn{
    background-color: #ff8000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media screen and (min-width: 481px) {
    .filters-btn, .apply-filters-btn {
        display: none;
    }
}

.filters-btn{
    background-color: #ff8000;
    border: none;
}
